@charset "utf-8";
.v-form {
  $field-height: 32px !important;
  $field-large-height: 38px !important;
  .ivu-form-item {
    &.inline{
      display: inline-flex;
    }
    &.label-top{
      flex-direction: column;
      .ivu-form-item-label{
        text-align: left;
        display: inline-flex;
        float: none;
      }
    }
    &.label-left{
      .ivu-form-item-label{
        text-align: left;
      }
    }
    &.size-large{
      .ivu-form-item-label {
        font-size: 16px !important;
        height: $field-large-height;
      }
      &.form-item-Upload{
        .ivu-btn{
          height: $field-large-height;
        }
      }
      .field-html{
        line-height: 38px;
      }
    }
    .ivu-form-item-label{
      height: $field-height;
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      line-height: 1.2;
    }
    .ivu-form-item-content {
      display: flex;
      margin-left: 0 !important;
      .ivu-cascader,.ivu-radio-wrapper,.ivu-radio-group,.ivu-checkbox-group,.ivu-checkbox-group-item {
        height: 100%;
        display: inline-flex;
        align-items: center;
        line-height: 1.2;
      }
      .ivu-radio{
        display: inline-flex;
      }
      .ivu-radio-group{
        height: $field-height;
        &-large{
          height: $field-large-height;
        }
      }
      .ivu-input-number{
        &-large{
          height: $field-large-height;
          .ivu-input-number-input-wrap{
            height: $field-large-height;
          }
        }
      }
      .ivu-checkbox{
        display: inline-flex;
        align-items: center;
        margin-right: 5px;
        &-large{
          padding-top: 1px;
        }
      }
      .ivu-checkbox-group{
        height: $field-height;
      }
      .ivu-checkbox-wrapper{
        display: inline-flex;
        align-items: center;
        height: $field-height;
        &-large{
          height: $field-large-height;
        }
      }
      .ivu-switch-wrap{
        height: $field-height;
        line-height: $field-height;
        &.size-large{
         height: $field-large-height;
         line-height: $field-large-height;
        }
      }
      .ivu-checkbox-large{
        height: $field-large-height;
      }
      .ivu-input-large{
        height: $field-large-height;
      }
      .ivu-btn{
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      .ivu-form-item-error-tip{
        padding-top: 5px;
      }
    }
    &.form-item-Switch{
      .ivu-switch-wrap{
        display: inline-flex;
        align-items: center;
      }
    }
  }
  .v-form-actions {
    display: flex;
    &.inline{
      display: inline-flex;
      .ivu-btn + .ivu-btn{
        margin-left: $space-normal;
      }
    }
    &.align-center {
      justify-content: center;
    }
    &.align-right {
      justify-content: flex-end;
    }
    .ivu-btn {
      min-width: 85px;
      & + .ivu-btn {
        margin-left: $space-system;
      }
      .ivu-icon {
        line-height: 1;
      }
    }
  }
  .ivu-btn-large{
    height: $field-large-height;
  }
  .ivu-select-large.ivu-select-single .ivu-select-selection {
    height: $field-large-height;
  }
  &-large {
    .ivu-form-item-label {
      font-size: 16px !important;
      padding: 12px 12px 11px 0 !important;
    }
    .ivu-date-picker{
      position: relative;
      top: 1px;
    }
    .ivu-input-number-input-wrap{
      height: $field-large-height;
      input{
        height: $field-large-height;
      }
    }
  }
  &-readonly{
    &.v-form-large{
      .ivu-select-selected-value{
        height: $field-large-height;
      }
    }
    // 输入框、autocomplete
    .ivu-input,.ivu-auto-complete,.ivu-input-number{
      border: 1px solid white;
      &:hover,&:focus{
        box-shadow: none;
        border: 1px solid white;
      }
    }
    // 下拉
    .ivu-input[disabled],.ivu-select-disabled,.ivu-input-number-input, .ivu-select-selection, .ivu-checkbox-disabled+span {
      background-color: white;
      cursor: default;
      color: $field-text-color;
      // border: 1px solid white;
      padding-left: 0;
      opacity: 1;
      // border-color:white !important;
      border: none !important;
    }
    //
    .ivu-select-selected-value{
      height: $field-height;
      display: inline-flex !important;
      align-items: center;
      line-height: 1.2 !important;
    }
    .ivu-select-placeholder{
      display: none !important;
    }
    .ivu-select-selected-value{
      padding-left: 0 !important;
    }
    // 联极选择
    .ivu-cascader-disabled,.ivu-select-disabled{
      &:hover{
        .ivu-icon-ios-arrow-down{
          display: none;
        }
      }
      .ivu-icon-ios-arrow-down{
        display: none;
      }
    }
    // 图标
    .ivu-input-wrapper-disabled{
      .ivu-input-suffix{
        display: none;
      }
    }
    // 单选
    .ivu-radio-group{
      .ivu-radio-wrapper:not(.ivu-radio-wrapper-checked){
        display: none;
      }
      .ivu-radio{
        display: none !important;
      }
    }
    // 多选
    .ivu-checkbox-group{
      line-height: 1.2;
      .ivu-checkbox-wrapper:not(.ivu-checkbox-wrapper-checked){
        display: none;
      }
      .ivu-checkbox{
        display: none !important;
      }
    }
  }
  &.ivu-form-inline{
    .ivu-form-item-content{
      display: inline-flex;
    }
    .ivu-form-item{
      margin-bottom: $space-system;
    }
  }
}
