@charset "utf-8";
.v-sidebar {
  position: fixed;
  left: 0;
  top: $nav-height;
  bottom: 0;
  width: $sidebar-width;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
  transition: width $transition-time;
  &.fold {
    width: $sidebar-fold-width;
    .ivu-menu{
      width: $sidebar-fold-width !important;
    }
  }
  &.fold + .v-content{
    left: 66px;
  }
  .ivu-menu {
    width: $sidebar-width !important;
    .ivu-menu-item,
    .ivu-menu-submenu-title {
      display: flex;
      align-items: center;
      line-height: 1.2;
      padding: 20px;
      .ivu-icon-ios-arrow-down {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-right: 0;
      }
    }
  }
  .ivu-dropdown{
    display: block;
    .ivu-dropdown-rel{
      display: block;
    }
    .ivu-dropdown-side{
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend %text-overflow;
      cursor: pointer;
    }
  }
  &--dark{
    background: $sidebar-bg-color;
    .ivu-menu.ivu-menu-dark{
      .ivu-menu-opened{
        .ivu-menu-submenu-title{
          background: $sidebar-bg-color;
        }
      }
      .ivu-menu-submenu-title{
        &:hover{
          background: $sidebar-bg-color;
        }
      }
      .ivu-menu-submenu-title +.ivu-menu{
        background: darken($sidebar-bg-color, 6%);
      }
      .ivu-menu-item{
        &:hover {
          background: $sidebar-bg-color;
        }
      }
    }
    .ivu-dropdown{
      .ivu-dropdown-side{
        color: rgba(255, 255, 255, 0.7);
        &:hover{
          color: white;
        }
        &.active{
          color: white;
          background: darken($sidebar-bg-color, 5%);
        }
      }
    }
    .v-sidebar-dropdown-menu{
      background: $sidebar-bg-color;
      .ivu-dropdown-item{
        color: rgba(255, 255, 255, 0.7);
        &:hover{
          background: $sidebar-bg-color;
          color: white;
        }
        &.active{
          background: $theme-color;
          color: white;
        }
      }
    }
  }
  &--light{
    background-color: white;
    .ivu-menu{
      &::after{
        display: none;
      }
    }
    .ivu-dropdown-side{
      &.active{
        color: $theme-color;
        border-right: 2px solid $theme-color;
        background: $theme-light-color;
      }
    }
  }
}
.v-sidebar-dropdown-menu{
  .ivu-dropdown-item{
    font-size: 14px !important;
  }
  &.dark{
    background-color: darken($sidebar-bg-color, 6%);
    .ivu-dropdown-item{
      color: rgba(255, 255, 255, 0.7);
      &:hover{
        color: white;
        background-color: darken($sidebar-bg-color, 6%);
      }
      &.active{
        color: white;
        background-color: $theme-color;
      }
    }
  }
  &.light{
    border-right: 1px solid $border-color;
    .ivu-dropdown-item{
      &.active,&.active:hover{
        color: $theme-color;
        background: $theme-light-color;
      }
    }
  }
}

